<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.SimpleLayout"/>
    </appender>

    <appender name="File" type="log4net.Appender.FileAppender">
      <file value="log.txt"/>
      <layout type="log4net.Layout.SimpleLayout"/>
    </appender>    

    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">      
      <param name="LogName" value="Test Service" />
      <param name="ApplicationName" value="Windows Service" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <securitycontext type="log4net.Util.WindowsSecurityContext">
        <credentials value="Process">
        </credentials>
      </securitycontext>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="EventLogAppender"/>
    </root>
  </log4net>
  
</configuration>